
body{ 
  /* background-image: :  */
  background-color: #f4f4f4;
  font-family:'Oswald', sans-serif;
  width: 960px;
  position: relative;
  /* text-align: 0 auto; */
  border: 2px solid black;
}

header { 

  font-family: 'Eater', cursive;
  color: #18121E;
  width: 960px;
  /* position: absolute; */
  /* text-align: 0 auto; */
}

section{
  font-size: 14px;
  width: 300px; 
}

aside {
  width: 300px;
  position: align-right;
  
}

footer{
  width: 960px;
  margin-right: 15px;
  margin-top: 15 px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 5px solid #233237;
}

table {
  background-color: #f4f4f4;
  width: 960px;
  padding-top: 200px;
  padding-left: 400px;
}

h1 {
  font-size: 30px;
  border-block-start-width: 10px;
  border-block-start-style: solid;
  border-block-start-color: #984B43;
  border-block-end: 10px solid #984B43;
  }
h2{
  font-size: 22px;

}

/* footer styling */

h3 { 
  font-style: oblique;

}

h4 { 
  float: left;
  padding-right: 25px;
  


}

label {
  background-color: #EAC67A;
  color: #18121E;

}

legend {
  text-align: center;
  padding-bottom: 10px;
  width: 960 px;
  border: 5px solid #984B43;
  background-color: #EAC67A;
  color: #18121E;
}

button {
  padding: 5px 15px;  background-color: #984B43;
}
p { 
  font-size: 12px; 
 }

/* ul {} */

/* li {} */

#fish {
  width: 400px;
  position: absolute;
  top: 100px;
  left: 300px;
}

