
body{ 
  background-image: : 
  font-family:'Oswald', sans-serif;
}

header { 
  font-family: 'Eater', cursive; 
}

section{
  font-size: 14px
}

aside

footer{
  float: right ;
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 30px;
  border-block-start-width: 0ch;
  border-block-start-style: solid;
  border-block-start-color: #984B43;
  
}
h2{
  font-size: 22px;

}

/* footer styling */

h3 {

}


p

ul

li 

